header {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    background: linear-gradient(to bottom, rgba(214, 230, 172, 0.8), rgba(175, 201, 126, 0.6));
    padding: 20px;
    text-align: center;
    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto; 
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative; 
    z-index: 10;
}

header h1 {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    margin: 0;
    font-size: 30px;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/background.jpg') center/cover no-repeat;
    filter: blur(3px); /* Размытие (можно менять) */
    z-index: -1; /* Фон уходит назад */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #22290A;
    min-height: 100vh;
} 

footer {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    background: linear-gradient(to bottom, rgba(214, 230, 172, 0.8), rgba(175, 201, 126, 0.6)); 
    text-align: center;
    padding: 10px;
    bottom: 0;

    width: 90%; 
    max-width: 1200px; 
    margin: 20px auto;

    border-radius: 16px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    position: relative;
    z-index: 3;
    font-size: medium;
} 

.container {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, rgba(214, 230, 172, 0.8), rgba(175, 201, 126, 0.6)); 
    color: #22290A;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

@media (max-width: 1920px) {
    .container {
        max-width: 1200px;
        padding: 18px;
    }
}

@media (max-width: 1249px) {
    .container {
        max-width: 1100px !important;
        padding: 15px;
    }
}

@media (max-width: 961px) {
    .container {
        max-width: 850px !important;
        padding: 12px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 690px !important;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    .container {
        max-width: 330px !important;
        padding: 8px;
    }
}

.item {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

#img-text-style{
    font-size: 20px;
    display: flex; 
    align-items: center;
}

.item:last-child {
    border-bottom: none;
}

.item img {
    max-width: 100px;
    border-radius: 8px;
    margin-right: 20px;
    cursor: pointer;
}

.nav-button {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(241, 215, 149, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
    font-weight: 540;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; /* Автоматически сдвигает кнопку вниз */
}

@media screen and (max-width: 1248px) {
    .nav-button {
        align-self: center;
    }
}

.nav-button:hover {
    background: linear-gradient(to bottom, rgba(155, 126, 53, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
}

/* кнопка для заказа в корзине */

.nav-button-confirm{
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(241, 215, 149, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; /* Автоматически сдвигает кнопку вниз */
}

.nav-button-confirm:hover {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(155, 126, 53, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; /* Автоматически сдвигает кнопку вниз */
}

/* кнопка удаления заказа в корзине */

.nav-button-delete {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(187, 185, 182, 0.8), rgba(187, 185, 182, 0.6)); /* Градиент */
    color: #3B3A39;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; /* Автоматически сдвигает кнопку вниз */
}

.nav-button-delete:hover {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(74, 67, 58, 0.8), rgba(187, 185, 182, 0.6)); 
    color: #3B3A39;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; /* Автоматически сдвигает кнопку вниз */
}

/* кнопка закрытия модалки оформления заказа в корзине */
.nav-button-close {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-size: 16px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(187, 185, 182, 0.8), rgba(187, 185, 182, 0.6));
    color: #3B3A39;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; 
}

.nav-button-close:hover {
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(74, 67, 58, 0.8), rgba(187, 185, 182, 0.6)); 
    color: #3B3A39;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: auto; 
}

/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background: white;
    color:#22290A;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 70%;
    max-width: 500px;
}

.modal-content h2 {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 5px; 
    text-align: center;
}

.modal-content p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.close-modal {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    background: linear-gradient(to bottom, rgba(241, 215, 149, 0.8), rgba(241, 215, 149, 0.6));
    color: #201302;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.close-modal:hover {
    background: linear-gradient(to bottom, rgba(155, 126, 53, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
}

/* контейнер для кнопок рядом*/
.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    max-width: 800px; 
    margin: 20px auto; 
    padding: 10px 0; 
}

/* Добавление стилей для модального окна, которое появляется с алертом */
.alert-modal {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
} 

.alert-modal .alert-content {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    width: 70%;
    max-width: 500px;
}

.alert-modal .alert-content p {
    margin: 10px 0;
    font-size: large;
    font-weight: 550;
}

.alert-modal .alert-content button {
    margin: 20px;
    padding: 10px 20px;
    background: linear-gradient(to bottom, rgba(241, 215, 149, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .alert-modal .alert-content button{
        margin: 10px;
    }
}

.alert-modal .alert-content button:hover {
    background: linear-gradient(to bottom, rgba(155, 126, 53, 0.8), rgba(241, 215, 149, 0.6)); 
    color: #201302;
}

/* Адаптивные стили */
@media screen and (max-width: 1248px) {
    .item img {
        max-width: 80px;
    }
}

@media screen and (max-width: 375px) {
    header h1 {
        font-size: 1.5em;
    }
    .item img {
        max-width: 80px;
    }

    .cart-button {
        padding: 8px 15px;
        font-size: 0.9em;
    }
}

.modal-content form {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Добавляем отступы между элементами формы */
}

.modal-content textarea {
    font-family: "Manrope", serif;
    font-optical-sizing: auto;
    width: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    resize: none;
    font-size: 1em;
}

.modal-content ul {
    list-style: disc;
    padding-left: 20px; 
    margin: 10px 0;
}

/* слайдер */
.slider{
    width: 500px ;
    overflow: hidden;
    position: relative;
    margin: 20px auto; /* Отступ сверху и снизу 20px, центрирование */
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.slider_line{
    display: flex;
    transition: all 1s;
    width: 500px ;
}

.slider_img{
    width: 500px ;
    flex: 0 0 auto;
}


@media screen and (max-width: 768px) {
    .slider {
        width: 370px !important; 
    }

    .slider_img {
        width: 370 !important;
    }

    .slider_line {
        width: 370 !important;
    }
}

@media screen and (max-width: 450px) {
    .slider {
        width: 200px !important;
    }

    .slider_img {
        width: 200px !important;
    }

    .slider_line {
        width: 200px !important;
    }
}